body {
    background-image: url("../../../chalkboard.jpeg");
    background-size: cover;
    text-align: center;
}

.clueText{
    height: auto;
    padding: 10% 10%;
line-height: 4rem;
    text-align: center;   
    font-size: 3rem;
    color: white;
    font-family: "Libre Baskerville", serif;
    margin-top: 1rem;
    text-shadow: .25rem .25rem .5rem black;
}