#homepage{
    color: white;
    font-family: "Play", sans-serif;
    text-align: center;
    line-height: 1.75rem;
    font-size: 1.5rem;
    border: 1rem;
    border-color: black;
}

#mathJepsLogo{
    height: 20rem;
    width: auto;
    margin: 1rem;
}
#startButton{
    background-color: rgba(255, 255, 255, 0);
    font-size: 2rem;
    font-family: "Play", sans-serif;
    color: white;
}

a:visited{
    color: darkseagreen;
}

body{
    background-image: url("/chalkboard.jpeg");
    background-size: cover ;

}
.jovialJepsJackpotCard{
    background-color:steelblue;
    color: white;
    font-size: 2.5rem;
    align-content: center;
    font-family: "Play", sans-serif;
}

.jovialJepsJackpotCard{
    text-align: center;
    align-self: center;
 margin-left: auto;
 margin-right: auto;
}

.goToClueButton{
    width: auto;
    height: 3rem;
    font-family: "Play", sans-serif;
    background-color: rgb(252, 199, 10);
    font-size: 2rem;
}